:root {
  --purple-400: #b1b2ff;
  --purple-300: #aac4ff;
  --purple-200: #d2daff;
  --purple-100: #eef1ff;
  --text: #7286d3;
  --font-mont: "Montserrat";
  --font-osw: "Oswald";
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--purple-100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h3 {
  font-family: var(--font-osw);
}

input,
a,
button {
  min-height: 44px !important;
  min-width: 44px !important;
  height: fit-content;
  width: fit-content;
}

.logo {
  text-decoration: none;
  color: var(--text);
}

.hidden {
  display: none !important;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: var(--purple-100);
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
  column-gap: 16px;
  justify-content: space-evenly;
}

.app-bar .app-bar__brand h1 {
  color: var(--text);
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
  min-width: 44px !important;
  min-height: 44px !important;
  display: inline-block;
}

.app-bar .app-bar__brand a {
  min-width: 44px !important;
  min-height: 44px !important;
  display: inline-block;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: var(--purple-100);
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--text);
  margin-bottom: 5px;
  width: 100%;
  height: 44px !important;
  text-align: center;
  line-height: 44px;
}

.app-bar .app-bar__navigation ul li div {
  display: flex;
  column-gap: 8px;
  justify-items: center;
  align-items: center;
  background-color: var(--purple-200);
  padding: 4px;
  border-radius: 8px;
}

.app-bar .app-bar__navigation ul li div input {
  border-style: none;
  padding: 8px;
  background-color: inherit;
}

.app-bar .app-bar__navigation ul li div input:focus {
  border-radius: 4px;
  background-color: inherit;
  outline: 2px solid var(--purple-300) !important;
}

.app-bar .app-bar__navigation ul li div a {
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: fit-content;
}

.app-bar .app-bar__navigation ul li div a svg {
  stroke: var(--text);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.app-bar .app-bar__navigation ul li div a svg:hover {
  stroke: var(--purple-400);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#search-form {
  display: flex;
  column-gap: 8px;
  justify-items: center;
  align-items: center;
  background-color: var(--purple-200);
  padding: 4px;
  border-radius: 8px;
  width: 50%;
}

#search-form a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form input {
  border-style: none;
  padding: 8px;
  background-color: inherit;
}

#search-form input:focus {
  border-radius: 4px;
  background-color: inherit;
  outline: 2px solid var(--purple-300) !important;
}

#search-form a {
  border: none;
  background-color: inherit;
  cursor: pointer;
  width: fit-content;
}

#search-form a svg {
  stroke: var(--text);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#search-form a svg:hover {
  stroke: var(--purple-400);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
/*
  Main Content
*/

app-main {
  padding: 32px;
  flex: 1;
}

picture {
  width: 100%;
  height: 230px;
}

#hero {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../public/hero-image_1.jpg");
  background-size: cover;
  background-position: top; */
  margin-bottom: 16px;
  border-radius: 16px;
  background-color: #eef1ff;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

/*
  Restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}

/*
  Restaurant Iten
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
  aspect-ratio: 4 / 3;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.restaurant-item
  .restaurant-item__header
  .restaurant-item__header__rating
  .restaurant-item__header__rating__score {
  margin-left: 10px;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}

.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}

.restaurant-item .restaurant-item__content h3 a {
  color: var(--text);
  text-decoration: none;
}

.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
  Restaurant
*/

.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}

.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

.skeleton {
  width: 100%;
  height: 400px;
}

.restaurant-card__image-skeleton {
  width: full;
  height: 200px;
  background-color: #d2daff;
}

.restaurant-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  border: 2px solid var(--text);
}

.restaurant-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: #aaaaaa;
}

.restaurant-card__content {
  padding: 20px;
  height: 200px;
}

.restaurant-card__name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.restaurant-card__description {
  font-size: 14px;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.restaurant-card__city {
  font-size: 12px;
  color: #888;
}

.restaurant-card__rating {
  font-size: 16px;
  font-weight: bold;
  color: #f8b200;
}

/* Restaurant Detail */
.restaurant-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--purple-100);
  font-family: var(--font-mont), Arial, sans-serif;
  row-gap: 16px;
  column-gap: 24px;
  width: inherit;
}

.restaurant-detail__header {
  display: flex;
  column-gap: 16px;
  width: 100%;
  margin-bottom: 16px;
  align-items: center;
}

.favorite-button {
  background-color: var(--purple-300);
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favorite-button:hover {
  background-color: var(--purple-400);
}

.favorite-button:focus {
  outline: none;
}

.favorite-button:active {
  transform: translateY(1px);
}

.restaurant-detail__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.restaurant-detail__content {
  flex: 1;
  max-width: 600px;
  width: 100%;
}

.restaurant-detail__name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--text);
  font-family: var(--font-osw), Arial, sans-serif;
}

.restaurant-detail__description {
  margin-bottom: 20px;
  color: var(--text);
}

.restaurant-detail__location,
.restaurant-detail__address {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--text);
}

.restaurant-detail__categories {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
}

.restaurant-detail__categories-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.restaurant-detail__categories-list li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: var(--purple-200);
  border-radius: 4px;
  font-size: 14px;
  color: var(--text);
}

.restaurant-detail__menus {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
}

.restaurant-detail__foods ul,
.restaurant-detail__drinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.restaurant-detail__foods h4,
.restaurant-detail__drinks h4 {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--text);
}

.restaurant-detail__foods ul li,
.restaurant-detail__drinks ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: var(--purple-200);
  border-radius: 4px;
  font-size: 14px;
  color: var(--text);
  margin-top: 4px;
  margin-bottom: 4px;
}

.restaurant-detail__rating {
  display: flex;
  align-items: center;
}

.restaurant-detail__rating-text {
  color: var(--text);
  font-family: var(--font-mont);
  font-size: 16px;
  margin-right: 4px;
}

.restaurant-detail__rating-value {
  color: var(--purple-400);
  font-family: var(--font-osw);
  font-size: 18px;
}

.restaurant-detail__rating-star {
  color: var(--purple-400);
  font-size: 18px;
}

.restaurant-detail__reviews {
  margin-top: 40px;
  color: var(--text);
}

.restaurant-detail__reviews-container {
  background-color: var(--purple-100); /* Purple color */
  border: 1px solid #b1b2ff; /* Darker shade of purple */
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.restaurant-detail__section-title {
  color: var(--text);
  font-family: var(--font-mont);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.restaurant-detail__review-list {
  list-style: none;
  padding: 0;
}

.restaurant-detail__review-item {
  border-bottom: 1px solid var(--purple-100);
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.restaurant-detail__review-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.restaurant-detail__review-header {
  display: flex;
  align-items: center;
}

.restaurant-detail__review-name {
  color: var(--purple-400);
  font-family: var(--font-mont);
  font-size: 18px;
  margin-right: 12px;
}

.restaurant-detail__review-date {
  color: var(--purple-300);
  font-family: var(--font-mont);
  font-size: 14px;
}

.restaurant-detail__review-content {
  color: var(--text);
  font-family: var(--font-mont);
  font-size: 16px;
  line-height: 1.4;
}

/* Add Review */
.add-review {
  background-color: #eef1ff;
  border-radius: 8px;
}

.add-review__title {
  font-size: 24px;
  color: #7286d3;
  margin-bottom: 10px;
}

.add-review__form-group {
  margin-bottom: 20px;
}

.add-review__label {
  display: block;
  font-size: 16px;
  color: #7286d3;
  margin-bottom: 5px;
}

.add-review__input,
.add-review__textarea {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #d2daff;
  border-radius: 4px;
  background-color: #eef1ff;
  color: #7286d3;
}

.add-review__input::placeholder,
.add-review__textarea::placeholder {
  color: #aac4ff;
}

.add-review__input:focus,
.add-review__textarea:focus {
  outline: none;
  border-color: #7286d3;
  box-shadow: 0 0 5px rgba(114, 134, 211, 0.5);
}

.add-review__submit {
  background-color: #7286d3;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-review__submit:hover {
  background-color: #b1b2ff;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b1b2ff;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--purple-200);
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/*
  Footer
*/

app-footer {
  padding: 16px;
}

app-footer p {
  text-align: center;
  color: #aaaaaa;
}

app-footer p a {
  color: var(--text);
  text-decoration: none;
  min-width: 44px !important;
  min-height: 44px !important;
  display: inline-block;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon-tabler.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
